[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
psycopg2 = "*"
python-multipart = "*"
requests = "*"
flake8 = "*"
bcrypt = "*"
pydantic = {extras = ["email"], version = "*"}
pytest = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
pyjwt = "*"
cerberus = "*"
line-bot-sdk = "*"
flask = "*"
pyzbar = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
